<hr id="separacaoConteudoRodape">
<footer class="container-fluid bg-4 text-center">		

	<div class="row">
		<div class="col-sm-2" >
		</div>
		<div class="col-sm-4" id="esquerda">
			<table class="table">    
				<tbody>
					<tr>
						<td><a href="">Quem Somos</a></td>
						<td><a href="">Login</a></td>
					</tr>
					<tr>
						<td><a href="">Como Funciona</a></td>
						<td><a href="">Cadastro</a></td>
					</tr>
					<tr>
						<td><a href="">FAQ's</a></td>
						<td><a href="">Termos de Uso</a></td>
					</tr>
					<tr>
						<td><a href="">Contato</a></td>
						<td><a href="">Privacidade</a></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="col-sm-6" id="direita">
		<img src="./assets/imagens/footer.png" alt="Rodapé">

		</div>
	</div>

</footer>

<!--

			<div class="thumbnail">
				<img src="./assets/imagens/bg-front.png" alt="Rodapé">	
				<img src="./assets/imagens/footer.png" alt="Rodapé">	       
			</div>						

 -->