$corFundo: #FFFFFF
$corTexto: #585859 
$corBotao: #7626FF
$corBordaBotao: #867FF6
$corBordaInput: #C2C2C2
$corPlaceholder: #CAD0DC
$corLink: #0077C5

::placeholder 
  color: $corPlaceholder
  font-size: 14px

nav a 
	margin-left: 5%

div#form-vertical h5
	font-size: 29px
	color: $corTexto		
	margin-bottom: 4%

div#form-vertical label
	float: left

div#form-vertical input	
	border: 1px solid $corBordaInput
	border-radius: 6px

div#form-vertical input:focus
	border: 1px solid $corBordaInput
	box-shadow:none!important

div#form-vertical .form-group span 
	background-color: transparent
	border: none
	color: transparent

div#form-vertical form #recuperarSenha
	font-size: 12px
	color: $corTexto
	float: right
	margin-top: -2%

div#form-vertical form
	text-align: center

div#form-vertical form button
	height: 60px
	width: 300px	
	background-color: $corBotao
	color: white
	border-radius: 36px
	margin-bottom: 2%
	margin-top: 2%
	border: 1px solid $corBordaBotao

div#form-vertical form button:hover
	height: 60px
	width: 300px	
	background-color: $corBotao
	color: white
	border-radius: 36px
	margin-bottom: 2%
	margin-top: 2%
	border: 2px solid lightgrey

div#form-vertical form #cadastrar
	color: $corLink
	font-size: 16px

.container-fluid	
	width: 100%
	position: absolute
	top: 0px
	bottom: 0px

.container-fluid .jumbotron
	background-color: transparent!important

.container-fluid .jumbotron #espacamento
	margin-top: -4%
	margin-bottom: 4%	

.container-fluid .jumbotron #footer 
	 height: 20%
	 bottom: 0px
	 display: block
	 width: 100%
	 text-align: center
	 position: fixed
	 left: 0px
	 right: 0px

//Centro

 .container-fluid .div-center	
	position: absolute
	left: 0px
	right: 0px
	top: 0px
	bottom: 0px
	margin: auto
	max-width: 100%
	max-height: 100%
	overflow: auto
	padding: 1em 2em	
	display: table
	width: 100%
	z-index: 5	

.container-fluid .div-center .footer 	
	position: fixed
	left: 0px
	width: 100%		 
	top: 86%
	z-index: -1

.container-fluid .div-center .footer img
	width: 100%
	




	








