<div class="container-fluid" id="container">	<!--  id="container" -->

	<app-menu></app-menu>

	<div class="jumbotron div-center" >	
		<div class="row">

			<div class="col-sm-2"></div>
			<div class="col-sm-8 " id="form-vertical">	

				<div class="Background">
					<!--<h2>Random Background Image!</h2>-->
				</div>
			
				<img  src="./assets/imagens/bg-front.png" alt="Background" id="imgBg">
				<img  src="./assets/imagens/front-test.png" alt="FrontTeste" id="imgFront">

				<div class="informacao" >							

					<p id="textoApresentacao">

						Teste para a vaga de Programador Front-End Junior.<br>
						Programadora: Marcielli Oliveira | Formada: Fatec Cruzeiro.
					</p>


					<a href="https://github.com/marciellioliveira/ft-praxio"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Saiba mais</button></a>

				</div>

				<div class="card-group" >
					<div class="card bg-primary" id="cardE">
						<div class="card-header">
							<p class="card-text titulo">Mussum Ipsum cacilds</p>
						</div>
						<div class="card-body text-center">						

							<img src="./assets/imagens/bg-front.png" id="imgFundoE">
							<img src="./assets/imagens/fingerprint.png" id="imgFrenteE">
							
						</div>
						<div class="card-footer">
							<p>
								Delegadis gente finis, bibendum
								egestas augue arcu ut est 
								interessantiss quisso pudia.
							</p>
							<a href="https://github.com/marciellioliveira/ft-praxio"><button class="btn btn-outline-success my-2 my-sm-0" id="btnE" type="submit">Saiba mais</button></a>
						</div>
					</div>
					<div class="card bg-warning" id="cardC">
						<div class="card-header">
							<p class="card-text titulo">Mussum Ipsum cacilds</p>
						</div>
						<div class="card-body text-center">						
							<br><br>
							<img src="./assets/imagens/bg-front.png" id="imgFundoC">
							<img src="./assets/imagens/fingerprint.png" id="imgFrenteC">
						</div>
						<div class="card-footer">
							<p>
								Delegadis gente finis, bibendum
								egestas augue arcu ut est 
								interessantiss quisso pudia.
							</p>
							<a href="https://github.com/marciellioliveira/ft-praxio"><button class="btn btn-outline-success my-2 my-sm-0" id="btnC" type="submit">Saiba mais</button></a>
						</div>
					</div>

					<div class="card bg-success" id="cardD">
						<div class="card-header">
							<p class="card-text titulo">Mussum Ipsum cacilds</p>
						</div>
						<div class="card-body text-center">

							<img src="./assets/imagens/bg-front.png" id="imgFundoD">
							<img src="./assets/imagens/fingerprint.png" id="imgFrenteD">
						</div>
						<div class="card-footer">
							<p>
								Delegadis gente finis, bibendum
								egestas augue arcu ut est 
								interessantiss quisso pudia.
							</p>
							<a href="https://github.com/marciellioliveira/ft-praxio"><button class="btn btn-outline-success my-2 my-sm-0" id="btnD" type="submit">Saiba mais</button></a>
						</div>
					</div>    
				</div>	 <!--/card-group -->	

				


		</div> <!-- /form-vertical -->


		<div class="col-sm-2 "></div>


	
	</div> <!-- /row -->	

	
<app-rodape></app-rodape>
</div> <!-- /jumbotron /div.center -->


</div> <!-- /container.fluid /container -->






