$corFundo: #FFFFFF
$corTexto: #585859 
$corBotao: #7626FF
$corBordaBotao: #867FF6
$corBordaInput: #C2C2C2
$corPlaceholder: #CAD0DC
$corLink: #0077C5
$corBordaLogout: #EAEAEC
$corTituloCard: #733FFF
$corTextoRodape: #707070

::placeholder 
  color: $corPlaceholder
  font-size: 14px

.Background
  //background-image: url('/assets/imagens/bg-front.png') top center no-repeat
  height: 1000px  
  width: 1000px
  padding: 1em
  margin: 0 auto

div.col-sm-2
	background-color: transparent!important
	z-index: -5!important
	//background-color: green

div#form-vertical 
	text-align: center

div#form-vertical h5
	font-size: 29px
	color: $corTexto		
	margin-bottom: 7%
	float: left

div#form-vertical label
	float: left

div#form-vertical input	
	//background-color: $corFundo
	border: 1px solid $corBordaInput
	border-radius: 6px

div#form-vertical input:focus
	border: 1px solid $corBordaInput
	box-shadow:none!important

div#form-vertical .form-group span 
	background-color: transparent
	border: none
	color: transparent

div#form-vertical form #recuperarSenha
	font-size: 12px
	color: $corTexto
	float: right
	margin-top: -2%

div#form-vertical form button
	//width: 100%
	height: 60px
	width: 361.92px
	background-color: $corBotao
	color: white
	border-radius: 36px
	margin-bottom: 2%
	border: 1px solid $corBordaBotao

div#form-vertical form #cadastrar
	color: $corLink
	font-size: 16px

#container	
	width: 100%
	position: absolute
	top: 0px
	bottom: 0px

#container .jumbotron
	//background-color: $corFundo
	z-index: 4
	background-color: transparent!important

#container .div-center	
	position: absolute
	left: 0px
	right: 0px
	top: 0px
	bottom: 0px
	margin: auto
	max-width: 100%
	max-height: 100%
	overflow: auto
	padding: 1em 2em	
	display: table
	width: 100%

#container .div-center #form-vertical #imgBg
	position: absolute
	left: 0px
	bottom: 0px
	right: 0px
	top: 20px
	//margin: auto
	margin-top: 80%
	max-width: 100%
	z-index: -5

#container .div-center #form-vertical #imgFront
	//top: -15%
	//border: 4px solid red
	//margin-top: -20%
	width: 35%


#container .div-center #form-vertical .informacao
	//background-color: green
	//margin-top: 30%
	margin-bottom: 5%
	//padding-top: 50%

#container .div-center #form-vertical .informacao #textoApresentacao
	padding-top: 5%
	color: white
	padding-bottom: 1%
	font-weight: bold


#container .div-center #form-vertical .informacao button
	background-color: transparent!important
	width: 211.55px
	height: 36px
	border-radius: 32px
	border: 1px solid white
	color: white

#container .div-center #form-vertical .informacao button a
	color: white

#container .div-center #form-vertical .card-group #cardE
	background-color: $corFundo!important
	border-radius: 5px
	height: 400px
	width: 297px
	-webkit-box-shadow: 0px 0px 7px 3px rgba(219,219,219,0.81) 
	box-shadow: 0px 0px 7px 3px rgba(219,219,219,0.81)
	z-index: 2
	margin-top: 5%

#container .div-center #form-vertical .card-group #cardE .card-header
	background-color: transparent!important
	border: none!important

#container .div-center #form-vertical .card-group #cardE .card-footer
	background-color: transparent!important
	border: none!important

#container .div-center #form-vertical .card-group #cardC
	background-color: $corFundo!important
	border-radius: 5px
	height: 480px
	width: 297px
	-webkit-box-shadow: 0px 0px 7px 3px rgba(219,219,219,0.81) 
	box-shadow: 0px 0px 7px 3px rgba(219,219,219,0.81)
	z-index: 4 

#container .div-center #form-vertical .card-group #cardC .card-header
	background-color: transparent!important
	border: none!important

#container .div-center #form-vertical .card-group #cardC .card-footer
	background-color: transparent!important
	border: none!important

#container .div-center #form-vertical .card-group #cardD
	background-color: $corFundo!important
	border-radius: 5px
	height: 400px
	width: 297px
	-webkit-box-shadow: 0px 0px 7px 3px rgba(219,219,219,0.81) 
	box-shadow: 0px 0px 7px 3px rgba(219,219,219,0.81)
	z-index: 2
	margin-top: 5%

#container .div-center #form-vertical .card-group #cardD .card-header
	background-color: transparent!important
	border: none!important

#container .div-center #form-vertical .card-group #cardD .card-footer
	background-color: transparent!important
	border: none!important

#container .div-center #form-vertical .card-group .titulo 
	color: $corTituloCard
	font-weight: bold

#container .div-center #form-vertical .card-group #imgFundoE
	width: 60%
	//height: 60%
	display: block
	position: relative
	margin-left: auto
	margin-right: auto
	z-index: 1
	//position: relative
	//top: 50%
	//width: 60%
	//height: 40%
	//position: relative
	//top: 50%  	
  //	-webkit-transform: translateY(-50%)
  	//-ms-transform: translateY(-50%)
  //	transform: translateY(-50%)

#container .div-center #form-vertical .card-group #imgFrenteE	
	//margin-top: 40%
	z-index: 4
	display: block	
	position: relative
	margin-left: auto
	margin-right: auto
	margin-top: -40%	



#container .div-center #form-vertical .card-group #btnE
	height: 36px
	width: 100%
	font-size: 16px	
	border-radius: 32px
	background-color: $corFundo
	border: 1px solid $corBordaLogout
	color: $corTexto

#container .div-center #form-vertical .card-group #imgFundoC
	width: 60%
	//height: 60%
	display: block
	position: relative
	margin-left: auto
	margin-right: auto
	z-index: 1
	//position: relative
	//top: 50%
	//width: 60%
	//height: 40%
	//position: relative
	//top: 50%  	
  //	-webkit-transform: translateY(-50%)
  	//-ms-transform: translateY(-50%)
  //	transform: translateY(-50%)

#container .div-center #form-vertical .card-group #imgFrenteC	
	//margin-top: 40%
	z-index: 4
	display: block	
	position: relative
	margin-left: auto
	margin-right: auto
	margin-top: -40%

#container .div-center #form-vertical .card-group #btnC
	height: 36px
	width: 100%
	font-size: 16px	
	border-radius: 32px
	background-color: $corBotao
	border: 1px solid $corBordaLogout
	color: white

#container .div-center #form-vertical .card-group #imgFundoD
	width: 60%
	//height: 60%
	display: block
	position: relative
	margin-left: auto
	margin-right: auto
	z-index: 1
	//position: relative
	//top: 50%
	//width: 60%
	//height: 40%
	//position: relative
	//top: 50%  	
  //	-webkit-transform: translateY(-50%)
  	//-ms-transform: translateY(-50%)
  //	transform: translateY(-50%)

#container .div-center #form-vertical .card-group #imgFrenteD	
	//margin-top: 40%
	z-index: 4
	display: block	
	position: relative
	margin-left: auto
	margin-right: auto
	margin-top: -40%	

#container .div-center #form-vertical .card-group #btnD
	height: 36px
	width: 100%
	font-size: 16px	
	border-radius: 32px
	background-color: $corFundo
	border: 1px solid $corBordaLogout
	color: $corTexto







	








