<div class="container-fluid" id="container">	<!--  id="container" -->

<nav class="navbar bg-transparent navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       
      </li>
      
      
      <li class="nav-item">
        <img src="./assets/imagens/front-test-logo.png" alt="Logo" >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">     

    <a routerLink="/login" id="cadastrar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
  </a>
    </form>
  </div>
</nav>
	

	<div class="jumbotron div-center">	
	<div class="row" >

		<div class="col-sm-2"></div>
		<div class="col-sm-8 " id="form-vertical">

			<div style="height: 35%; width: 35%;">
				
			</div>
			
			<div class="informacao">
				
				<img class="imgBackground" src="./assets/imagens/bg-front-novo.png" alt="Background" >

			<p id="textoApresentacao">
				Teste para a vaga de Programador Front-End Junior.<br>
				Programadora: Marcielli Oliveira | Formada: Fatec Cruzeiro.
			</p>


			<a href="https://github.com/marciellioliveira/ft-praxio"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Saiba mais</button></a>

			</div>
			
			<div class="card-group">
				<div class="card bg-primary" id="cardE">
					<div class="card-header">
						<p class="card-text titulo">Mussum Ipsum cacilds</p>
					</div>
					<div class="card-body text-center">
						

						<img src="./assets/imagens/bg-front.png" id="imgFundo">
						<img src="./assets/imagens/fingerprint.png" id="imgFrente">

							
					</div>
					<div class="card-footer">
						<p>
						Delegadis gente finis, bibendum
						egestas augue arcu ut est 
						interessantiss quisso pudia.
						</p>
					</div>
				</div>
				<div class="card bg-warning" id="cardC">
					<div class="card-header">
						<p class="card-text titulo">Mussum Ipsum cacilds</p>
					</div>
					<div class="card-body text-center">
						
						
						<img src="./assets/imagens/bg-front.png" id="imgFundo">
						<img src="./assets/imagens/fingerprint.png" id="imgFrente">
					</div>
					<div class="card-footer">
						<p>
						Delegadis gente finis, bibendum
						egestas augue arcu ut est 
						interessantiss quisso pudia.
						</p>
					</div>
				</div>

				<div class="card bg-success" id="cardD">
					<div class="card-header">
						<p class="card-text titulo">Mussum Ipsum cacilds</p>
					</div>
					<div class="card-body text-center">
						
						<img src="./assets/imagens/bg-front.png" id="imgFundo">
						<img src="./assets/imagens/fingerprint.png" id="imgFrente">
					</div>
					<div class="card-footer">
						<p>
						Delegadis gente finis, bibendum
						egestas augue arcu ut est 
						interessantiss quisso pudia.
						</p>
					</div>
				</div>    
			</div>
			
			<div>dsadas</div>
			<div>dsadas</div>
			
			

		</div>


		<div class="col-sm-2 "></div>

	</div>
	<div class="footer">		
		<!--<img src="./assets/imagens/bg-front.png" alt="Logo" >-->		
	</div>
	</div>

</div>
