<div class="container-fluid" id="container">	

	<!--<nav class="navbar bg-transparent navbar-expand-lg navbar-light bg-light" >
	  <a class="navbar-brand" href="#"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	       
	      </li>
	      
	      
	      <li class="nav-item">
	        <img src="./assets/imagens/front-test-logo.png" alt="Logo" >
	      </li>
	    </ul>
	    
	  </div>
	</nav>-->



	<nav class="navbar navbar-expand-sm">
		<a class="navbar-brand" href="/login">
			<img src="./assets/imagens/front-test-logo.png" alt="Logo" >
		</a>		 
	</nav>

	<div class="jumbotron div-center">
		
	<div class="row" >

		<div class="col-sm-4"></div>
		<div class="col-sm-4 " id="form-vertical">
			<form action="/inicio">
			  <div class="form-group">
			    <h5>Entrar</h5>
			    <input type="email" class="form-control" id="email" placeholder="Email">
			  </div>
			  <div class="form-group">			    
			    <input type="password" class="form-control input-field" id="password" placeholder="Senha"/>
			    <span class="glyphicon glyphicon-eye-open"></span>
			  </div>
			  <a routerLink="/recuperarSenha" id="recuperarSenha">ESQUECEU A SENHA?</a>
			  <br>
			  <button type="submit" class="btn">Entrar</button>			 
			  <a routerLink="/cadastro" id="cadastrar">Não tem uma conta? Cadastre-se</a>
			</form>	
		</div>
		<div class="col-sm-4 "></div>

	</div>
	<div class="footer">		
		<img src="./assets/imagens/bg-front.png" alt="Logo" >		
	</div>
	</div>

</div>
